In [3]:
import pandas as pd
import numpy as np
import os

In [4]:
os.getcwd()
#os.listdir()

'/Users/WilliamSpagnola/Desktop'

In [5]:
# help from https://www.pythontutorial.net/python-basics/python-read-text-file/

#with open('readme.txt') as f:
#    lines = f.readlines()


# & https://stackoverflow.com/questions/1767513/how-to-read-first-n-lines-of-a-file

#N = 10
#with open("file.txt", "a") as file:  # the a opens it in append mode
#   for i in range(N):
#        line = next(file).strip()
#        print(line)

In [26]:
n = 2
with open('input4.txt') as f:
    for i in range(n):
        lines = f.strip()
        #lines = next(f).strip()
        print(lines)
lines

AttributeError: '_io.TextIOWrapper' object has no attribute 'strip'

In [25]:
type(lines)

str

In [14]:
lines.encode()

b''

In [15]:
type(lines)

str

In [17]:
lines

''

In [10]:
nums = np.fromstring(lines)

<ipython-input-10-9e3056662703>:1: DeprecationWarning: The binary mode of fromstring is deprecated, as it behaves surprisingly on unicode inputs. Use frombuffer instead
  nums = np.fromstring(lines)

In [7]:
# pandas read_csv() gets confused
#test = pd.read_csv('input4.txt')
#test

,31,88,35,24,46,48,95,42,18,43,...,17,73,99,25,89,51,7,33,85,70
0,50 83 3 31 16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,47 9 94 10 86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,61 22 53 46 74,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,77 41 79 55 62,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,97 78 43 73 40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,27 18 39 0 48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
496,84 74 64 80 60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
497,28 96 37 65 57,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
498,53 79 89 32 14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
499,55 63 50 7 62,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN